includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon

parameters:
    level: max
    paths:
        - src
        - tests
    excludePaths:
        - tests/bootstrap.php
    stubFiles:
        - stubs/Container.stub
    checkUninitializedProperties: true
